#firepad-container {
  width: 50vw;
  height: 50vh;
  margin-top: 5vh;
  margin-left: 2vw;
}

.body {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to top left,
    rgb(136, 72, 173),
    rgb(116, 109, 199)
  );
}

.firepad {
  width: 65vw;
  height: 54vh;
  border-radius: 3px;
}

.CodeMirror {
  background-color: #1d2333;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
}

.CodeMirror-cursor {
  border-color: rgb(255, 255, 255);
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

/*display: flex;
    flex-direction: row;
    justify-content: left;
    height: 56vh;*/

.video-chat {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 5vw;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.vid {
  height: 300px;
  width: 400px;
  background-color: rgb(0, 0, 0);
  margin: 3px;
  border-radius: 3px;
}

.vid video {
  width: 400px;
  border-radius: 3px;
}

.middle-section {
  height: 5vh;
  display: flex;
  align-items: center;
  width: 50vw;
  margin-left: 35px;

  margin-bottom: 10px;
}

.compile-btn {
  border: none;
  height: 40px;
  width: 85px;
  background-color: rgb(50, 151, 209);
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  border-radius: 2px;
  transition: all 0.4s ease;
}
.compile-btn:hover {
  background-color: #293c91;
  transition: all 0.4s ease;
}

.end-call-btn {
  border: none;
  height: 40px;
  width: 100px;
  background-color: rgb(206, 72, 72);
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  border-radius: 2px;
  transition: all 0.4s ease;
}
.end-call-btn:hover {
  transition: all 0.4s ease;
  background-color: rgb(167, 35, 35);
}

.bottom-section {
  margin-left: 26px;
  height: 30vh;
  width: 96vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
}

.result {
  padding: 10px;
  color: #fff;
  height: 100%;
  width: 65vw;
  background-color: #0d101e;
}


